<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('device_list') }}">
        <span class="menu-title">Devices</span>
        <i class="mdi mdi-chip menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('type_list') }}">
        <span class="menu-title">Types</span>
        <i class="mdi mdi-hexagon-outline menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>