<!doctype html>
<html lang="en-US">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
		<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<!-- Typography CSS -->
		<link rel="stylesheet" href="/assets/css/typography.css">
		<!-- Style -->
		<link rel="stylesheet" href="/assets/css/style.css" />
		<!-- Responsive -->
		<link rel="stylesheet" href="/assets/css/responsive.css" />
      	<link rel="stylesheet" href="/assets/css/video-js.css"/>
		<!-- Style -->
		<link rel="stylesheet" href="/assets/css/style.css" />
        {% block head %}{% endblock %}
	</head>
	<body>
		<!-- loader Start -->
		<div id="loading">
			<div id="loading-center">
			</div>
		</div>
		<!-- loader END -->
		<!-- Header Start -->
		<header id="main-header">
			<div class="main-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<nav class="navbar navbar-expand-lg navbar-light p-0">
								<a href="#" class="navbar-toggler c-toggler" style="color: #ddd">
									<i class="ri-arrow-left-line"></i>
								</a>
								<a class="navbar-brand" href="/">
									<img class="img-fluid logo" src="/assets/images/logo-1.png" loading="lazy" alt="streamit" />
								</a>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									<div class="menu-main-menu-container">
										<ul id="top-menu" class="navbar-nav ml-auto">
											<li class="menu-item">
												<a><span></span></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="navbar-right menu-right">
									<ul class="d-flex align-items-center list-inline m-0">
										<li class="nav-item nav-icon">
											<a href="#" onclick="javascript:window.history.back()"
											   class="search-toggle device-search">
												<i class="ri-arrow-left-line"></i>
											</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header End -->
		<!-- MainContent -->
		{% block content %}{% endblock %}
		<!-- MainContent End-->
		<!-- back-to-top -->
		<div id="back-to-top">
			<a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
		</div>
		<!-- back-to-top End -->
	   	<!-- video.js -->
	   	<script src="/assets/js/video.min.js"></script>
	   	<script src="/assets/plugin/videojs-youtube-master/youtube.js"></script>
		<!-- jQuery, Popper JS -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/assets/js/bootstrap.min.js"></script>
		<!-- owl carousel Js -->
		<script src="/assets/js/owl.carousel.min.js"></script>
		<!-- select2 Js -->
		<script src="/assets/js/select2.min.js"></script>
		<!-- Magnific Popup-->
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Flatpickr JavaScript -->
		<script src="/assets/js/flatpickr.min.js"></script>
		<!-- Custom JS-->
		<script src="/assets/js/custom.js"></script>
		<!-- rtl -->
		<script src="/assets/js/rtl.js"></script>
		<!-- script -->
		<script src="/assets/js/script.js"></script>
  		{% block script %}{% endblock %}
	</body>
</html>