{% extends "layout/main.html" %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="sidebar">
		<div class="search-form">
			<h4 class="sb-title">Search a title</h4>
			<form class="form-style-1" action="{{ url_for('search') }}" method="get">
				<div class="row">
					<div class="col-md-12 form-it">
						<label>Title or keywords</label>
						<input type="text" name="q" placeholder="Enter title or keywords">
					</div>
					<div class="col-md-12 ">
						<input class="submit" type="submit" value="search">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
	{% if result.main|length: %}
	<div class="topbar-filter">
		<p>Found <span>{{ result.main|length }}</span> title(s)</p>
	</div>
	{% endif %}
	<div class="flex-wrap-movielist">
		{% for movie in result.main.values(): %}
		<div class="movie-item-style-2 movie-item-style-1">
			<a href="{{ url_for('search_link', media_hash=movie.media_hash) }}">
				<img src="{{ movie.image_url }}" style="max-height: 210px; max-width: fit-content" alt="">
			</a>
			<div class="mv-item-infor">
				<h6><a href="{{ movie.image_url }}">{{ movie.title }}</a></h6>
			</div>
		</div>
		{% endfor %}
	</div>
	{% if result.secondary|length: %}
	<div class="topbar-filter">
		<p>Found other <span>{{ result.secondary|length }}</span> title(s)</p>
	</div>
	<div class="flex-wrap-movielist">
		{% for movie in result.secondary.values(): %}
		<div class="movie-item-style-2 movie-item-style-1">
			<a href="{{ url_for('search_link', media_hash=movie.media_hash) }}">
				<img src="{{ movie.image_url }}" style="max-height: 210px; max-width: fit-content" alt="">
			</a>
			<div class="mv-item-infor">
				<h6><a href="{{ movie.image_url }}">{{ movie.title }}</a></h6>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}