{% extends "layout/main.html" %}

{% block head %}
<style>
	{% if error is not defined: %}
	.vjs-modal-dialog-content {
		display: none;
	}
	{% endif %}
	.vjs-paused .vjs-big-play-button,
	.vjs-paused.vjs-has-started .vjs-big-play-button {
	   display: block;
	}
	.vjs-playing.vjs-has-started .vjs-icon-play:before,
	.vjs-playing.vjs-has-started .vjs-play-control .vjs-icon-placeholder:before,
	.vjs-playing.vjs-has-started .vjs-big-play-button .vjs-icon-placeholder:before {
		content: "\f103";
	}
	.vjs-paused.vjs-has-started .vjs-icon-play:before,
	.vjs-paused.vjs-has-started .vjs-play-control .vjs-icon-placeholder:before,
	.vjs-paused.vjs-has-started .vjs-big-play-button .vjs-icon-placeholder:before {
		content: "\f101";
	}
</style>
{% endblock %}

{% block content %}
<section class="iq-main-slider site-video">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="pt-0">
					<video id="videoPlayer" class="video-js vjs-big-play-centered w-100"
						   controls preload="auto" poster="{{ player_poster }}"
						   data-setup='{}'>
						<source src="" type="" />
					</video>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}
<!-- Swiper JS -->
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/swiper.js"></script>
<script>
	$(document).ready(function() {
		document.querySelector("#videoPlayer").addEventListener("error", (event) => {
		  console.log(event.target.error.message);
		})
		{% if error is not defined: %}
		var player = videojs("videoPlayer");
		$.ajax({
			url: '{{ ajax_url }}?d={{ encrypted_ajax_data }}',
			type: '{{ ajax_method }}',
			success: function(result) {
				var src = '{{ player_src_base_url }}' + result['file_url'];
				player.responsive(true);
				player.src({
					type: '{{ mime_type }}',
					src: src
				});
			},
			error: function(result) {
				console.log(result);
			}
		});
		{% else %}
		console.log({{ error }});
		{% endif %}
	});
</script>
{% endblock %}